* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ddd;
    padding: 30px;
}

.cv {
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

/* HEADER */
.header {
    background: #5a5f64;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nama h1 {
    font-size: 36px;
    margin: 0;
}

.nama span {
    font-weight: bold;
}

.nama p {
    margin-top: 10px;
}

.foto img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

/* CONTENT */
.content {
    display: flex;
    padding: 25px;
    gap: 30px;
}

.left, .right {
    width: 50%;
}

h2 {
    background: #5a5f64;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
}

ul {
    padding-left: 18px;
}

ul li {
    margin-bottom: 8px;
}

